@charset "UTF-8";
/*SECCIÓN HEADER*/
#header {
  background-color: green;
  background-size: 100%;
  align-items: center;
  height: 120px;
  max-width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.navBar ul li {
  display: flex;
  margin-right: 50px;
}

.navBar ul {
  display: flex;
  justify-content: center;
  background-color: darkgreen;
  border-radius: 50px;
  align-items: center;
  height: 50px;
  margin-right: 26%;
}

.navBar a {
  padding: 10px;
  width: 60px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  column-gap: 20px;
  text-decoration: none;
}

/*ANIMACIONES*/
.navBar a:hover {
  color: black;
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: 50px;
}

/*SECCIÓN MAIN*/
/*PÁGINA INDEX*/
.tituloMain2 {
  font-size: 100px;
  font-family: "Racing Sans one", serif;
  font-style: normal;
  color: white;
  -webkit-text-stroke: 1.2px black;
}

#mainIndex {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
}

.pInicio {
  font-size: clamp(1em, 5vw, 2em);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  flex-wrap: wrap;
}

.box1 {
  width: 100%;
  flex-wrap: wrap;
  /*Ya resolvi lo de el background y sus configuraciones para que a la vez no afecte al texto. No se si esa es la forma correcta de hacerlo, o si hay otra manera mas facil. Yo pude encontrar una forma que me funciono, que es la que esta abajo, en .fondoContenedor */
}

.fondoMTF {
  opacity: 0%;
  filter: grayscale(1);
}

.fondoContenedor {
  background-image: url(../images/michael-trevor-franklin.png);
  background-position: center;
  opacity: 5%;
  filter: grayscale(1);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.formularioMain {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  font-size: clamp(0.5em, 5vw, 1.5em);
}

/*SECCIÓN MAIN*/
/*PÁGINA PERSONAJES*/
#mainPersonajes {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../images/fondo-playa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.tituloMainPersonajes {
  display: flex;
  font-size: 50px;
  font-family: "Racing Sans One", serif;
  color: white;
  -webkit-text-stroke: 1.2px black;
  padding: 10px;
  justify-content: center;
}

.marcoPersonaje {
  width: 300px;
  padding: 20px;
  background-color: rgb(240, 245, 245);
  border-radius: 2%;
}

.boxPersonajes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  column-gap: normal;
}

.pDescripcion {
  text-align: left;
  padding: 5px;
}

.pHabilidades {
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;
}

.tituloProgresos {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}

/*ANIMACIONES*/
.marcoPersonaje img:active {
  transform: scale(2, 2);
  transition: all 1s;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

/*SECCIÓN MAIN*/
/*PÁGINA HISTORIA*/
#mainHistoria {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
}

.tituloMainHistoria {
  display: flex;
  font-size: 50px;
  font-family: "Racing Sans One", serif;
  color: white;
  -webkit-text-stroke: 1.2px black;
  padding: 10px;
  justify-content: center;
}

.pIntroHistoria {
  font-size: 24px;
  text-align: left;
  padding: 50px;
}

.articuloHistoriaIzq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding: 20px;
  align-items: center;
  text-align: left;
  background-color: rgb(247, 240, 240);
  border-radius: 45%;
  margin-bottom: 10px;
}

.articuloHistoriaDer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 24px;
  padding: 20px;
  align-items: center;
  text-align: left;
  word-wrap: break-word;
  background-color: rgb(247, 240, 240);
  border-radius: 45%;
  margin-bottom: 10px;
}

.articuloHistoriaDer p {
  width: 80%;
  word-wrap: break-word;
}

.imagenHistoria {
  margin-right: 20px;
}

.imagenHistoriaDer {
  margin-left: 20px;
}

/*ANIMACIONES*/
.imagenHistoria:active {
  transform: scale(2, 2) translate(25%, 0%);
  transition: all 1s;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

.imagenHistoriaDer:active {
  transform: scale(2, 2) translate(-25%, 0%);
  transition: all 1s;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

/*SECCIÓN MAIN*/
/*PÁGINA LUGARES*/
#mainLugares {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
}

.tituloMainLug {
  display: flex;
  font-size: 50px;
  font-family: "Racing Sans One", serif;
  color: white;
  -webkit-text-stroke: 1.2px black;
  padding: 10px;
  justify-content: center;
}

.boxLugares {
  display: flex;
  justify-content: center;
  padding: 20px;
  column-gap: normal;
  align-items: center;
}

.marcoLugar {
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding: 20px;
  background-color: rgb(237, 245, 245);
  border-radius: 2%;
}

.imagenLugar {
  display: flex;
  flex-direction: column;
}

.descripcionLugar {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
}

.textoLugar {
  margin-bottom: 20px;
}

/*ANIMACIONES*/
.imagenRealLugar:active {
  transform: scale(2, 2);
  transition: all 1s;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

/*SECCIÓN MAIN*/
/*PÁGINA ACTIVIDADES*/
#mainActividades {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
}

.tituloMainAct {
  display: flex;
  font-size: 50px;
  font-family: "Racing Sans One", serif;
  color: white;
  -webkit-text-stroke: 1.2px black;
  padding: 10px;
  justify-content: center;
}

.boxActividades {
  display: flex;
  justify-content: center;
  padding: 20px;
  column-gap: normal;
  align-items: center;
}

.marcoActividad {
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding: 20px;
  background-color: rgb(237, 245, 245);
  border-radius: 2%;
}

.imagenActividad {
  display: flex;
  flex-direction: column;
}

.descripcionActividad {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
}

.textoActividad {
  margin-bottom: 20px;
}

/*ANIMACIONES*/
.imagenRealAct:active {
  transform: scale(2, 2);
  transition: all 1s;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5);
}

/*SECCIÓN FOOTER*/
#footer {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerLogo {
  filter: grayscale(1);
  display: flex;
}

.navFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  align-items: center;
}

.navFooter ul {
  column-gap: 20px;
  background-color: darkgray;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navFooter ul li {
  display: flex;
  margin-right: 50px;
}

.navFooter a {
  padding: 10px;
  width: 60px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.tituloFooter {
  color: darkslategray;
}

.copyFooter {
  text-align: center;
  color: darkslategray;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(0.25em, 5vw, 0.5em);
}

.footerRedes {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  padding: 30px;
  align-items: center;
}

.footerRedes i {
  color: darkslategray;
  font-size: 30px;
  margin-inline-start: 10px;
}

.tituloRedes {
  color: darkslategray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.iconosFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

/*ANIMACIONES*/
.navFooter a:hover {
  color: black;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 50px;
}

/*MEDIAQUERIES*/
@media screen and (max-width: 500px) {
  /*SECCIÓN HEADER*/
  #header {
    height: 100%;
    min-width: 100%;
  }
  .navBar {
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
  }
  .navBar ul {
    flex-direction: row;
    max-width: 100%;
  }
  .navBar a {
    max-width: 40px;
    margin-right: 26%;
  }
  /*SECCIÓN MAIN*/
  /*PÁGINA INDEX*/
  .pInicio {
    top: 120%;
    width: 80%;
  }
  .formularioMain {
    top: 170%;
    width: 80%;
  }
  /*PÁGINA PERSONAJES*/
  .marcoPersonaje {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .boxPersonajes {
    flex-direction: column;
    align-items: center;
  }
  /*PÁGINA HISTORIA*/
  .articuloHistoriaIzq {
    flex-direction: column;
    align-items: center;
    border-radius: 20%;
  }
  .articuloHistoriaDer {
    flex-direction: column;
    align-items: center;
    border-radius: 20%;
  }
  .articuloHistoriaDer p {
    width: 100%;
  }
  .imagenHistoria {
    width: 100%;
    margin: 0%;
  }
  .imagenHistoriaDer {
    width: 100%;
    margin: 0%;
  }
  /*PÁGINA LUGARES*/
  .marcoLugar {
    width: 100%;
    flex-direction: column;
  }
  .imagenRealLugar {
    width: 100%;
  }
  .mapaLugar {
    width: 100%;
  }
  /*PÁGINA ACTIVIDADES*/
  .marcoActividad {
    width: 100%;
    flex-direction: column;
  }
  .imagenRealAct {
    width: 100%;
  }
  .mapaActividad {
    width: 100%;
  }
  /*SECCIÓN FOOTER*/
  #footer {
    flex-direction: column;
    align-items: center;
  }
  .navFooter {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .navFooter ul {
    width: 100%;
  }
  .navFooter ul li {
    margin-right: 10px;
    justify-content: space-around;
  }
  .navFooter a {
    width: 50px;
  }
  .footerLogo {
    margin-top: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  /*SECCIÓN HEADER*/
  #header {
    height: 100%;
    min-width: 100%;
  }
  .navBar {
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
  }
  .navBar ul {
    flex-direction: row;
    max-width: 100%;
  }
  .navBar a {
    max-width: 40px;
    margin-right: 30%;
  }
  /*SECCIÓN MAIN*/
  /*PÁGINA INDEX*/
  .pInicio {
    top: 83%;
    width: 80%;
  }
  .formularioMain {
    top: 123%;
    width: 80%;
  }
  /*PÁGINA PERSONAJES*/
  .marcoPersonaje {
    width: 30%;
    margin: 5px;
  }
  /*PÁGINA HISTORIA*/
  .articuloHistoriaIzq {
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
  }
  .articuloHistoriaDer {
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
  }
  .articuloHistoriaDer p {
    width: 100%;
  }
  .imagenHistoria {
    max-width: 50%;
    min-width: 30%;
    margin: 0%;
  }
  .imagenHistoriaDer {
    max-width: 50%;
    min-width: 30%;
    margin: 0%;
  }
  /*SECCIÓN FOOTER*/
  #footer {
    flex-direction: column;
    align-items: center;
  }
  .navFooter {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .navFooter ul {
    width: 100%;
  }
  .navFooter ul li {
    margin-right: 10px;
    justify-content: space-around;
  }
  .navFooter a {
    width: 50px;
  }
  .footerLogo {
    margin-top: 20px;
  }
}
* {
  margin: 0%;
}

/*# sourceMappingURL=style.css.map */
